* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.coming-soon {
    width: 100%;
    height: 100vh;
    /* background: url('https://firebasestorage.googleapis.com/v0/b/head-aura.appspot.com/o/background.png?alt=media&token=e92b2cf2-0d0c-442f-9202-c53649181c84'); */
    background: url('https://firebasestorage.googleapis.com/v0/b/head-aura.appspot.com/o/test.jpg?alt=media&token=3cd1e591-b111-41eb-b430-d454616d3e05');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coming-soon .container {
    width: 100%;
    height: 100vh;
    /* background-color: #000000d0; */
    background-color: #dae2d5;
    background-color: #dae2d5d0;
    /* background-color: #3f6766; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* color: #fff; */
    color: #000;
}

.coming-soon .container header {
    width: 100%;
    /* height: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4em;
    margin-top: 2em;
    text-align: center;
}

.coming-soon .container header h1 {
    color: #3f6766;
    font-size: 3em;
    font-weight: 600;
    /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.coming-soon .container header h2 {
    font-size: .8em;
    font-weight: 200;
}

.coming-soon .container main {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.coming-soon .container main .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming-soon .container main .info h3 {
    font-size: 2em;
    font-weight: 700;
}

.coming-soon .container main .info p {
    font-size: 1.4em;
    font-weight: 200;
    text-align: center;
}

.coming-soon .container main .countdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming-soon .container main .countdown>div {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    /* border: .0625em solid #fff; */
    border: .125em solid #3f6766;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming-soon .container main .subscribe form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.coming-soon .container main .subscribe input:first-child {
    border: .125em solid #fff;
    width: 20em;
    height: 3em;
    border-radius: .8em;
    outline: none;
    text-align: center;
}

.coming-soon .container main .subscribe input:last-child {
    border: none;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8em;
    cursor: pointer;
    background-color: #891e1e;
    background-color: #3f6766;
    color: #fff;
}

.coming-soon .container main .subscribe input:last-child:hover {
    transform: translate(0, -.125em);
}

.coming-soon .container main .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: 2.2em;
}

.coming-soon .container main .socials a {
    text-decoration: none;
    color: #000;
    transition: .2s ease-in-out;
}

.coming-soon .container main .socials a:nth-child(1) {
    color: #2e2e2e;
}

.coming-soon .container main .socials a:nth-child(2) {
    color: #dd2a7b;
}

.coming-soon .container main .socials a:nth-child(3) {
    color: #e62117;
}

.coming-soon .container footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000d0;
    color: #fff;
    font-size: .8em;
}

@media screen and (max-width: 400px) {
    .coming-soon .container header h1 {
        font-size: 1.45em;
    }

    .coming-soon .container header h2 {
        margin: 0 .5em;
        font-size: .5em;
    }

    .coming-soon .container main .info h3 {
        font-size: 1.6em;
    }

    .coming-soon .container main .info p {
        margin: .5em .5em 0 .5em;
        font-size: .9em;
    }

    .coming-soon .container main .countdown {
        margin: 0 1em;
    }

    .coming-soon .container main .countdown>div {
        width: 4.4em;
        height: 4.4em;
        font-size: .9em;
    }

    .coming-soon .container main .countdown>div>p {
        font-size: .7em;
    }

    .coming-soon .container main .subscribe input:first-child {
        width: 15em;
    }

    .coming-soon .container main .subscribe input:last-child {
        width: 7em;
    }

    .coming-soon .container main .socials {
        font-size: 2em;
    }
}